<footer class="bg-gray-800 text-white py-4 text-xl">
    <div class="container mx-auto flex justify-between">
        <span class="icon-phone">Телефон: +7 123 456 7890</span>
        <a href="https://github.com/f1nutic/taxi" class="icon-github">GitHub проекта</a>
        <a href="https://yandex.ru/maps-api/" class="icon-yandex">Yandex Map API</a>
    </div>
</footer>
</body>
</html>