<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-gray-100">
<header class="bg-white py-4 shadow-md">
    <nav class="container mx-auto flex items-center justify-between">
        <div class="flex items-center">
            <a href="/about"><img src="img/logo64.png" alt="Лого" class=""></a>
            <a href="/about" class="ml-4 font-bold navbar_text">Максимка</a>
        </div>
        <div class="contents">
            <a href="/about" class="font-bold navbar_text">О нас</a>
            <a href="/map" class="font-bold  navbar_text">Карта</a>
            <a href="/history" class="font-bold navbar_text">История</a>
            <% if (user) { %>
                <a href="/logout" class="font-bold navbar_text">Выход</a>
            <% } else { %>
                <!-- Код для неавторизованных пользователей -->

                <a href="/registration" class="font-bold navbar_text">Вход/Регистрация</a>
                <!-- Дополнительный код для неавторизованных пользователей -->
            <% } %>
        </div>
    </nav>
    <div id="notification" class="opacity-0 fixed right-4 top-28 text-white px-4 py-2 rounded-md z-50 transition-opacity duration-500" role="alert">
        <p id="notificationMessage">Успешная операция!</p>
    </div>
</header>
<script src="notification.js"></script>



