<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-gray-100">
<header class="bg-white py-4 shadow-md">
    <nav class="container mx-auto flex items-center justify-between navbar_text">
        <!-- Лого и название компании -->
        <div class="flex items-center">
            <a href=""><img src="img/logo64.png" alt="Лого" class=""></a>
            <a href="" class="ml-4 font-bold navbar_text hover:text-blue-700">Максимка</a>
        </div>
        <div class="contents">
            <a href="/about" class="font-bold  hover:text-blue-700 ">О нас</a>
            <a href="/map" class="font-bold  hover:text-blue-700">Карта</a>
            <a href="/history" class="font-bold  hover:text-blue-700">История</a>
            <a href="/registration" class="font-bold  hover:text-blue-700">Вход/Регистрация</a>
        </div>
    </nav>
</header>
