<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <link  href="styles.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=<%=YANDEX_STATIC_API_KEY%>&suggest_apikey=<%=YANDEX_SUGGEST_API_KEY%>" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
</head>
<body class="bg-gray-100 flex flex-col h-screen  justify-between ">
<%- include('header') %>

<div class="container mx-auto flex px-5 py-18">
    <div id="map" class="flex-auto w-3/5" style="height: 700px;"></div>
    <div class="content-center flex-auto ml-4 bg-purple-50 w-2/5 border-4 border-purple-600 shadow-xl " style="border-radius: 20px">
        <p class="text-center mb-8 text-5xl font-bold">Вызвать такси</p>
        <input type="text" id="startPoint" placeholder="Начальная точка" class="mb-4 block mx-auto w-11/12 px-4 py-3  border-4 border-purple-600 rounded-md text-lg focus:outline-none">
        <input type="text" id="endPoint" placeholder="Конечная точка" class="block mx-auto w-11/12 px-4 py-3 border-4 border-purple-600 rounded-md text-lg focus:outline-none">
        <div id="routeInfo" class="mx-12 my-8 text-xl">
            <p>Время поездки: <span id="duration"></span></p>
            <p>Расстояние: <span id="distance"></span></p>
            <p>Стоимость: <span id="cost"></span></p>
        </div>
        <div class="controls mx-5 flex">
            <button id="route" class="mx-auto bg-white rounded-full px-6 py-2 text-xl font-bold button_order_form">Заказать</button>
            <button id="removeControls" class="mx-auto bg-white rounded-full px-6 py-2 text-xl font-bold button_order_form">Очистить</button>
        </div>
    </div>
</div>

<%- include('footer') %>

<script src="map.js"></script>

</body>
</html>
